<section class="_container-x _container-y">
  <div class="flex justify-between gap-5 text-sm underline text-gray-400">
    <a
      class="text-left"
      href="https://docs.google.com/spreadsheets/d/1prhlcV5G_bp-Icu-etF3oHT95Izqs_2FQT9fHqpLIvY/edit?usp=sharing"
      target="_blank">Редактировать список</a
    >
    <a class="text-right" href="https://geshov.ru/posts/google-sheets-cms/" target="_blank"
      >Как это работает</a
    >
  </div>
</section>
